body {
    margin: 0;
}

* {
    outline: none;
}

svg {
    padding: 5px 5px 0 5px;
}

.tile {
    fill: #ffffc8;
}

.normalstroke {
    stroke: #000000;
    stroke-width: 2px;
}

.nostroke {
    stroke-width: 0px;
}

.thickstroke {
    stroke: #000000;
    stroke-width: 3px;
}

.moveIndicator {
    fill: #a4f101;
    opacity: 0.5;
    stroke: none;
}

.moveIndicatorGrey {
    fill: #666666;
    opacity: 0.5;
    stroke: none;
    pointer-events: none;
}

.moveArrow {
    stroke: #a4f101;
    opacity: 0.5;
    stroke-width: 10px;
    stroke-linecap: round;
}

.movetext {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    user-select: none;
}

.pieceblackstroke {
    fill: #fedaa4;
    stroke: #000;
    stroke-width: 6.15px;
}

.pieceblackstroke, .pieceredstroke {
    stroke-linecap: round;
    stroke-linejoin: bevel;
}

.pieceredstroke {
    fill: none;
    stroke-width: 6.87px;
}

.pieceredstroke, .pieceredtext {
    stroke: #c00;
}

.pieceredtext {
    fill: #c00;
    stroke-width: 3.08px;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
}

.chat {
    height: 50%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #ddddff;
}

.chat div {
    flex: 1 0 0;
    overflow-y: auto;
}

.chat div::-webkit-scrollbar {
    width: 4px;
}

.chat div::-webkit-scrollbar-track {
    background: none;
}

.chat div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
}

.chat input {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ffffff;
    height: 30px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.sidebar p {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}

.chat div p {
    margin: 0 8px;
}

.italics {
    font-style: italic;
}

.title {
    font-weight: bold;
}

.dialogBase {
    background-color: #55555580;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogBox {
    background-color: #ffffff;
    width: 50%;
    height: 30%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialogBox p {
    text-align: center;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
    margin: 5px;
    height: 90%;
    cursor: default;
}

.dialogBox button {
    text-align: center;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    border: none;
    background-color: #1ab7ff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}