body {
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

* {
    outline: none;
}

svg {
    padding: 5px 5px 0 5px;
}

.tile {
    fill: #ffffc8;
}

.normalstroke {
    stroke: #000000;
    stroke-width: 2px;
}

.nostroke {
    stroke-width: 0;
}

.thickstroke {
    stroke: #000000;
    stroke-width: 3px;
}

.moveIndicator {
    fill: #a4f101;
    opacity: 0.5;
    stroke: none;
}

.moveIndicatorGrey {
    fill: #666666;
    opacity: 0.5;
    stroke: none;
    pointer-events: none;
}

.moveArrow {
    stroke: #a4f101;
    opacity: 0.5;
    stroke-width: 10px;
    stroke-linecap: round;
    pointer-events: none;
}

.movetext {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    user-select: none;
}

.pieceblackstroke {
    fill: #fedaa4;
    stroke: #000;
    stroke-width: 6.15px;
}

.pieceblackstroke, .pieceredstroke {
    stroke-linecap: round;
    stroke-linejoin: bevel;
}

.pieceredstroke {
    fill: none;
    stroke-width: 6.87px;
}

.pieceredstroke, .pieceredtext {
    stroke: #c00;
}

.pieceredtext {
    fill: #c00;
    stroke-width: 3.08px;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
}

.chat {
    height: 50%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #ddddff;
}

.chat div {
    flex: 1 0 0;
    overflow-y: auto;
    word-wrap: break-word;
}

.chat div::-webkit-scrollbar {
    width: 4px;
}

.chat div::-webkit-scrollbar-track {
    background: none;
}

.chat div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
}

.chat input {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ffffff;
    height: 30px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.sidebar p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.chat div p {
    margin: 0 8px;
    font-size: 14px;
}

.italics {
    font-style: italic;
}

.title {
    font-weight: bold;
}

.dialogBase {
    background-color: #55555580;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogBox {
    background-color: #ffffff;
    width: 50%;
    height: 30%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialogBox p {
    text-align: center;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
    margin: 5px;
    height: 90%;
    cursor: default;
}

.dialogBox button {
    text-align: center;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    border: none;
    background-color: #1ab7ff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

nav {
    border: 2px solid #5394af;
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

p.label {
    font-family: "Open Sans", sans-serif;
    color: #5394af;
    padding-left: 40px;
    margin-bottom: 5px;
    display: inline-block;
    user-select: none;
}

nav button {
    border: none;
    background-color: #37d491;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    width: 250px;
    flex-shrink: 1;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
}

nav div input {
    border: none;
    border-bottom: 2px solid #000092;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    background: none;
    user-select: none;
    width: 150px;
}

.nospace {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.check {
    filter: url(#check);
}

.selected {
    filter: url(#selected);
}

.settings p {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-left: 6px;
    user-select: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -5px;
    top: -3px;
    background-color: #aaaaaa;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark {
    filter: invert(100%);
    background: #1f1f1f;
}

.blind {
    opacity: 0;
}